/* General reset and styling */
body {
    margin: 0;
    padding: 0;
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

/* Form styling */
form {
    background: #fff;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

p#result {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    
}

/* Responsive adjustments */
@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    label, input[type="number"], select, button {
        font-size: 14px;
    }

    input[type="number"],
    select {
        width: calc(100% - 10px);
        padding: 8px;
    }

    button {
        padding: 8px;
        font-size: 14px;
    }
}
